body {
  margin: 0;
  font-family: 'LatoThin', serif;
  background: #2a2a2a;
}

h1, h2, h3 {
  font-family: 'ExploraReg', serif;
  letter-spacing: 2px;
}

@font-face {
  font-family: 'ExploraReg';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('/src/assets/fonts/Explora-Regular.ttf') format('truetype'),
  url('/src/assets/fonts/Explora-Regular.woff') format('woff'),
  url('/src/assets/fonts/Explora-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'LatoThin';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('/src/assets/fonts/Lato.ttf') format('truetype'),
  url('/src/assets/fonts/Lato.woff') format('woff'),
  url('/src/assets/fonts/Lato.woff2') format('woff2');
}
