body {
  margin: 0;
  font-family: 'LatoThin', serif;
  background: #0f0c29;
}

h1 {
  font-family: 'LiebeLotteThin', serif;
}

@font-face {
  font-family: 'LiebeLotteThin';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('/src/assets/fonts/LiebeLotte.ttf') format('truetype'),
  url('/src/assets/fonts/LiebeLotte.woff') format('woff'),
  url('/src/assets/fonts/LiebeLotte.woff2') format('woff2');
}

@font-face {
  font-family: 'LatoThin';
  font-style: normal;
  font-weight: normal;
  font-display: swap;
  src: url('/src/assets/fonts/Lato.ttf') format('truetype'),
  url('/src/assets/fonts/Lato.woff') format('woff'),
  url('/src/assets/fonts/Lato.woff2') format('woff2');
}
